* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}




body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 650px;
background: url(p.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.notif {
  width: 230px;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: -100%; /* Posisi awal di luar kotak */
  transition: top 0.5s ease-in-out
}



.notif .logole {
  position: relative;
  left: 8px;
  animation: none;
}

.notif p {
 position: relative;
 left: 30px;
  text-align: center;
  font-size: 5px;
  font-weight: 700;
}

@keyframes shake {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.login {
  position: relative;
  width: 300px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.login .form-box {
  width: 100%;
  padding: 40px;
}

.login .form-box h2 {
  text-align: center;
  color: black;
  font-size: 2rem;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.input-box label {
  position: relative;
  bottom: 30px;
  left: 5px;
  transform: translateY(-50%);
  font-size: 20px;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.2s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  bottom: 60px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(0,0,0,0.9);
  padding: 0 50px 0 10px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  top: 25px;
  font-size: 1.2rem;
}

.btn {
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 50px;
  background-color: gray;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}


.btn:active {
  background-color: red;
}

.l-register {
  text-align: center;
  margin: 25px 0 10px;
  font-size: 0.9rem;
  font-weight: 500;
}

.l-register p {
  color: red;
}

.l-register .register {
  color: green;
  font-size: 20px;
}